body{
  background-color: #0d1117;
}

.app-container {
  background-color: #161b22;
  border-style: solid;
  border-color: #21262d;
  border-width: 1px;
  border-radius: .3rem;


}

h1, h2, h3, h4, h5, h6, p, label {
  color: #C9D1C9;
}